/* Universal styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #bd3c3c;
}

 html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: #b7b7b7; /* Light background */
}

header, footer {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    z-index: 9;
    background-color: #3E3A39; /* Dark background for contrast */
    color: #c6a02b; /* Light text color */
}

 header span, footer h1, footer span {
    color: #ffffff8d; 
}

nav {
    display: flex;
    gap: 20px;
}

nav button {
    all: unset;
    cursor: pointer;
    font-size: 20px;
    color: #ECF0F1;
}

nav button:hover {
    color: #3498DB;
}

/* Main and Section for Slide Display */
main {
    display: none; /* Only display current deck */
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease, transform 0.6s ease;
}

/* Active deck styling */
main.active {
    display: flex; /* Only active main is shown */
    opacity: 1;
    transform: translateX(0);
}

/* Section styling */
section {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10vw;
    opacity: 0.9; /* Initial opacity for transition effect */
    transition: opacity 0.5s ease;
}

/* Text Styling */
h1 {
    font-size: 64px;
    color: #34495E;
}

h2 {
    font-size: 40px;
    color: #2C3E50;
}

li {
    font-size: 28px;
    margin: 10px 0;
    color: #7F8C8D;
}

ul {
    list-style-type: none;
}

/* Counter and Icon Styling */
#slide-count, #deck-count {
    position: absolute;
    top: 10px;
    font-size: 1.2rem;
    color: #ffcc00;
    z-index: 10;
}

.icon {
    cursor: pointer;
    font-size: 2rem;
    color: #ffcc00;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.icon:hover {
    color: #ffffff;
}

/* Navigation button container styling */
.nav-buttons {
    position: fixed;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    z-index: 10;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    h1 { font-size: 48px; }
    h2 { font-size: 32px; }
    li { font-size: 24px; }
    nav button { font-size: 16px; }
}
